body {
    padding-top: 100px;
    background-color: peachpuff;
    margin: 0;
  }

header {
    background-image: url(Images/background.webp);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;   
}

header h1 {
    font-size: 50px;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: beige;
}

section h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    background-color: beige;
    width: 100%;
    padding: 0;
}


section figure img{
    display: block;
    width: auto;
    margin: 0 auto;
    border: 2px solid black;
}

section h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

section p {
    width: 400px;
    height: fit-content;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0 auto;
    padding: 10px;
    background-color: antiquewhite;
}

.price {
    color: coral;
    font-weight: bold;    
}